<h1>Bookmarks#new</h1>
 <%= simple_form_for [@list, @bookmark] do |f| %>
        <%= f.association :movie %>
        <%= f.submit "Add a bookmark", class: "btn btn-primary" %>
          <% end %>

<div class="container">
  <div class="cards">
   <% @movies.each do |movie| %>
      <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url( <%= movie.poster_url %>)">
      <%= movie.title %>
      </div>
          <% end %>
    </div>
</div>
